  <div class='card-form'>
    <div class='card-header'><a href='/post/{{id}}'><h4
        >{{title}}</h4></a>
      <span>Posted by
        {{user.username}}
        on
        {{format_date date_created}}
         </span></div>
    <div class='card-body'>
      <p>
        {{content}}
      </p>
    </div>
  </div>