<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="card-form ">
  <div class="card-header "><a href="/post/{{post.id}}"><h3>{{post.name}}</h3></a> <span>Posted By user on date</span></div>
  <div class="card-body">
   
    <p>
     
  {{post.description}}
    
     
    </p>

    <p>
      {{!-- <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount post.needed_funding}}</span>
      needed! --}}
    </p>
    {{!-- <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p> --}}
  </div>
  
</div>
{{/each}}
