<div class='row'>
  <div class='col-auto welcome'>
    <h2>Welcome, {{name}}!</h2>
    <h3>Your Posts</h3>
  </div>
</div>

{{#if posts.length}}
  {{#each posts as |post|}}

    <div class='post-title'>
      <div class='col-md-10'>
        <a href='/post/{{id}}'><h4>{{name}}</h4></a>
      </div>
      <div class='col-md-2'>
        <span>
          {{format_date date_created}}
        </span>
      </div>

    </div>

  {{/each}}
{{/if}}

{{!-- <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div> --}}
{{!-- {{/each}} --}}
{{! </div> }}
{{!-- {{/if}} --}}
{{! </div> }}

<script src='./js/profile.js'></script>